
# Objectron generated data
Objectron/dataset_cache/
Objectron/dataset_frames/
Objectron/inference_results/
*.pth
*.avi
*.mp4
*.MOV
*.pbdata
*.jpg
*.png
*.xlsx
*.json
.DS_Store
**/.DS_Store
Objectron-bottle/
Objectron/Objectron_Bottle_Report.docx
Objectron/bottle_annotation.pbdata
Objectron/bottle_pose.json
Objectron/bottle_result.jpg
Objectron/bottle_sample.MOV
Objectron/model_results.xlsx
Objectron/test_annotation.pbdata
Objectron/test_video.MOV
