
# Objectron generated data
Objectron/data/
Objectron/manifests/
Objectron/dataset_cache/
Objectron/dataset_frames/
Objectron/inference_results/
Objectron/checkpoints/
Objectron/results/
Objectron/fresh_training/
*.pth
*.avi
*.mp4
*.MOV
*.mov
*.pbdata
*.jpg
*.png
*.xlsx
*.docx
*.pages
.DS_Store
**/.DS_Store
Objectron-bottle/
